* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

.header{
    padding: 7px 0;
    background-color: #5eb5e0;
    color: #fff;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    /*height: 80vh;*/
    /*width: 100vw;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: #5eb5e0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_item {
    height: 8vh;
    width: 30vw;
    background-color: #e4f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}
.nav_item:last-child{
    margin-right: 0;
}

.form_one_page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
}
.error_standart_wrapper{
    text-align: center;
    font-weight: 600;
    color: #B0413E;
    margin-bottom: 30px;
}
.label_input{
    font-size: 20px;
    font-weight: 900;
    color: #0077af;
    margin-bottom: 5px;
}
.input_standart_wrapper{
    text-align: center;
}
.input_standart{
    border: 2px solid #5eb5e0 ;
    color: #0077af;
    border-radius: 20px;
    padding: 7px 0;
    width: 90%;
    text-align: center;
    outline: none;
}
.btn_standart_wrapper{
    text-align: center;
}
.btn_standart{
    background-color: #5eb5e0;
    border: none;
    border-radius: 20px;
    padding: 7px 0;
    color: #fff;
    width: 90%;
}