{% extends 'base.html.twig' %}
{% block header_title %}Сообщения{% endblock %}
{% block body %}
        <div style="text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column">
            <p>Сообщений нет</p>
        </div>
    <div class="button-group">
{#        <div class="find-friends">#}
{#            <input class="search-input" type="text" id="search-input" value="{{ search }}"><div class="search-btn" id="search-btn">П</div>#}
{#        </div>#}
{#        <div class="button-block">#}
{#            {{ user.getNickname() }}#}
{#        </div>#}
    </div>
{% endblock %}
