{% extends 'base.html.twig' %}
{% block header_title %}{{ user.getNickname() }}{% endblock %}
{% block body %}
    <div style="text-align: center">
        <h3>Главная страница для пользователя: {{ user.getEmail() }}</h3>
    </div>
{% endblock %}
