{% extends 'base.html.twig' %}
{% block body %}
    <div style="text-align: center">
        <h2>Активити профиля</h2>
        <h3>Email: {{ user.getEmail() }}</h3>
        <a href="{{ path("app_logout") }}">Выход</a>
    </div>
{% endblock %}
