{% extends 'base.html.twig' %}
{% block body %}
    <div style="text-align: center">
        <h2>Активити регистрации</h2>
        <a href="{{ path("app_login") }}">Авторизация</a>
    </div>
{% endblock %}
