{% extends 'base.html.twig' %}
{% block header_title %}Настройки{% endblock %}
{% block body %}
    <div style="text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column">
        <h3>Email: {{ user.getEmail() }}</h3>
        <h3>UUID: {{ user.getUuid() }}</h3>
        <h3>Nickname: {{ user.getNickname() }}</h3>
    </div>
{% endblock %}
